# general
VITE_API_URL=""
APP_URL=""

# admin
ADMIN_NAME=""
ADMIN_PASSWORD=""

# database
DATABASE_HOST=""
DATABASE_PORT=3
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""

# auth
EXPIRATION_TIME=
SECRET_KEY=""

